<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
    <gazebo>
        <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
            <!-- wheels -->
            <left_joint>left_wheel_joint</left_joint>
            <right_joint>right_wheel_joint</right_joint>

            <!-- kinematics -->
            <wheel_separation>0.23</wheel_separation>
            <wheel_diameter>0.06</wheel_diameter>

            <!-- tfs -->
            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>
            <odometry_frame>odom</odometry_frame>

            <!-- limits -->
            <max_wheel_torque>20</max_wheel_torque>
            <max_acceleration>1.0</max_acceleration>

            <!-- miscs -->
            <robot_base_frame>base_link</robot_base_frame>
            <update_rate>100</update_rate>
        </plugin>
    </gazebo>
    
</robot>
