<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="demobot">
    <xacro:include filename="material.xacro" />
    <xacro:include filename="inertial.xacro" />
    <xacro:include filename="core.xacro" />
    <xacro:include filename="gazebo_diff_drive_plugin.xacro" />
    <xacro:include filename="lidar.xacro" /> 
    <xacro:include filename="camera.xacro" /> 
    <xacro:include filename="imu.xacro" /> 
</robot>